include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini
recursive-include ./tests *.py

exclude TODO
exclude .cookiecutter.yml
exclude .gitchangelog.rc
global-exclude __pycache__
global-exclude .editorconfig
global-exclude *.py[co]

include requirements.txt
recursive-include requirements *.txt *.yml

include topfm/unknown-cover.jpg
